.all {

}
    .all__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .all__description {
        margin-top: var(--heading-spacing);
        max-width: 926px;
    }

    .all__body {
        margin-top: 40px;
    }




@media (740px <= width < 1200px) {

    .all {

    }
        .all__heading {

        }

        .all__description {
            max-width: 870px;
        }

        .all__body {
            margin-top: 32px;
        }
}



@media (width < 740px) {

    .all {

    }
        .all__heading {

        }

        .all__description {

        }

        .all__body {
            margin-top: 40px;
        }
}
