.all-on-4 {
    display: flex;
    align-items: center;
    gap: 40px;
}
    .all-on-4__body {
        width: 668px;
        flex-shrink: 0;
    }
        .all-on-4__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .all-on-4__description {
            margin-top: 38px;
        }

        .all-on-4__action {
            margin-top: 64px;
        }

    .all-on-4__illustration {
        flex-grow: 1;
        aspect-ratio: 1/1;
        background-image: url("../images/all-on-4@1x.jpg");
        background-size: contain;
    }

    @media (min-resolution: 1.5dppx) {

        .all-on-4__illustration {
            background-image: url("../images/all-on-4@2x.jpg");
        }
    }



@media (768px <= width < 1200px) {

    .all-on-4 {
    }
        .all-on-4__body {
            width: 500px;
        }
            .all-on-4__heading {

            }

            .all-on-4__description {
                font-size: 16px;
                line-height: 19px;
            }

            .all-on-4__action {

            }

        .all-on-4__illustration {

        }

        @media (min-resolution: 1.5dppx) {

            .all-on-4__illustration {

            }
        }


    @media (width < 992px) {

        .all-on-4 {
            display: block;
        }
            .all-on-4__body {
                width: auto;
            }
                .all-on-4__heading {

                }

                .all-on-4__description {

                }

                .all-on-4__action {
                    margin-top: 40px;
                }

            .all-on-4__illustration {
                display: none;
            }
    }

}



@media (width < 768px) {

    .all-on-4 {
        display: block;
        /*align-items: center;*/
        /*gap: 40px;*/
    }
        .all-on-4__body {
            width: auto;
            /*flex-shrink: 0;*/
        }
            .all-on-4__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
            }

            .all-on-4__description {
                margin-top: 24px;
            }

            .all-on-4__action {
                margin-top: 40px;
            }
                @media (380px <= width < 400px) {

                    .all-on-4__action.button,
                    .all-on-4__action .button {
                        font-size: 18px;
                    }
                }

                @media (360px <= width < 380px) {

                    .all-on-4__action.button,
                    .all-on-4__action .button {
                        font-size: 17px;
                    }
                }

                @media (width < 360px) {

                    .all-on-4__action.button,
                    .all-on-4__action .button {
                        font-size: 16px;
                    }
                }

        .all-on-4__illustration {
            margin: 40px auto 0;
            max-width: 340px;
        }
}


