.anesthesia-page-v2 {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}


@media (768px <= width < 1200px) {

    .anesthesia-page-v2 {
        gap: 80px;
    }
}

@media (width < 768px) {

    .anesthesia-page-v2 {
        margin-top: 0;
        gap: 60px;
    }
}
