.before-after {
    overflow: hidden; /* cur carousels */
}
    .before-after__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .before-after__body {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;
    }
        .before-after__item {

        }
            .before-after__item * {
                outline: none;
            }

            .before-after img {
                border-radius: 12px;
            }

@media (width < 740px) {

    .before-after {

    }
        .before-after__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .before-after__body {
            margin-top: 24px;
            display: block;
        }
            .before-after__item {
                margin-top: 24px;
            }

            .before-after__item:first-child {
                margin-top: 0;
            }
}
