.before-after {

}
    .before-after__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .before-after__body {
        margin-top: 40px;
    }

    
@media (740px <= width) {

    .before-after__body .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;
    }
}    


@media (width < 740px) {

    .before-after {

    }
        .before-after__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .before-after__body {
            margin-top: 24px;
        }
            .before-after__body .swiper-slide {

            }
}
