.complexity {
    min-height: 487px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #63BFCB;
    background-image: url("../images/complexity@1x.png"), linear-gradient(-99.401deg, #B3E0E6 0%, #0096AA 100%);
    background-size: 668px 487px, auto;
    background-repeat: no-repeat, repeat;
    background-position: calc(50% + 345px) center, center top;
}

@media (min-resolution: 1.5dppx) {

    .complexity {
        background-image: url("../images/complexity@2x.png"), linear-gradient(-99.401deg, #B3E0E6 0%, #0096AA 100%);
    }
}

    .complexity__container {

    }
        .complexity__heading {
            margin-top: 0;
            margin-bottom: 0;
            max-width: 542px;
            font-family: var(--font-heading);
            font-weight: 500;
            font-size: 40px;
            line-height: 45px;
            color: #FFFFFF;
        }

        .complexity__description {
            margin-top: 40px;
            margin-bottom: 0;
            max-width: 631px;
            font-size: 22px;
            line-height: 26px;
            color: #FFFFFF;
        }

        .complexity__action {
            margin-top: 60px;
        }



@media (width < 992px) {

    .complexity {
        min-height: 365px;
        /*padding-top: 80px;*/
        /*padding-bottom: 80px;*/
        /*background-color: #63BFCB;*/
        /*background-image: url("../images/complexity@1x.png"), linear-gradient(-99.401deg, #B3E0E6 0%, #0096AA 100%);*/
        background-size: 501px 365px, auto;
        /*background-repeat: no-repeat, repeat;*/
        background-position: calc(50% + 220px) center, center top;
    }

    @media (min-resolution: 1.5dppx) {

        .complexity {
            /*background-image: url("../images/complexity@2x.png"), linear-gradient(-99.401deg, #B3E0E6 0%, #0096AA 100%);*/
        }
    }

        .complexity__container {

        }
            .complexity__heading {
                max-width: 400px;
                font-size: 28px;
                line-height: 32px;
            }

            .complexity__description {
                margin-top: 16px;
                font-size: 18px;
                line-height: 22px;
                /*color: #FFFFFF;*/
            }

            .complexity__action {
                margin-top: 40px;
            }
}




@media (width < 740px) {

    .complexity {
        padding-top: 24px;
        padding-bottom: 312px;
        background-size: 430px auto, auto;
        background-position: center bottom, center top;
    }
        .complexity__container {

        }
            .complexity__heading {

            }

            .complexity__description {

            }

            .complexity__action {

            }
                .complexity__action.button,
                .complexity__action .button {

                }
}
