.feedback-as-grid {

}
    .feedback-as-grid__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 40px;
        line-height: 46px;
    }

    .feedback-as-grid__body {
        margin-top: 40px;
    }
