.opinions {

}
    .opinions__heading {

    }

    .opinions__body {
        margin-top: var(--heading-spacing);
    }

        @media (1200px <= width) {

            .opinions__body .pins__navigation {
                gap: 24px 40px;
            }
                .opinions__body .pins__tab {
                    padding-left: 40px;
                    padding-right: 40px;
                    font-size: 20px;
                    line-height: 24px;
                }
        }

    .opinions__addition {
        margin-top: var(--section-spacing);
    }




@media (width < 740px) {

    .opinions {

    }
        .opinions__heading {

        }

        .opinions__body {

        }

        .opinions__addition {

        }
}
