:root {
    --font-heading: "Ubuntu";
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 200ms ease;
    --input-border-focus: #1FBBC7;
    --input-border-hover: #F4AE51;
    --disabled-background: rgb(128 128 128 / 10%);
    --disabled-color: rgb(128 128 128 / 50%);
    --error: #FF0033;
    --placeholder-color: #1FBBC7;
    --section-spacing: 110px;
    --heading-spacing: 40px;
    --container-padding: 40px;
}


@media (740px <= width < 1200px) {
    :root {
        --section-spacing: 80px;
        --heading-spacing: 32px;
        --container-padding: 32px;
    }
}

@media (width < 740px) {
    :root {
        --section-spacing: 60px;
        --heading-spacing: 24px;
        --container-padding: 24px;
    }
}

@media (width < 370px) {
    :root {
        --container-padding: 16px;
    }
}

@media (width < 350px) {
    :root {
        --container-padding: 12px;
    }
}
