.setup {

}

.equipment-and-materials + .setup {
    margin-top: -40px;
}
    .setup__heading {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 790px;
        font-family: var(--font-heading);
        font-size: 32px;
        line-height: 38px;
    }

    .setup__body {
        margin-top: calc(var(--heading-spacing) + 4px);
        columns: 3;
        gap: 24px;
    }
        .setup__item {
            margin-bottom: 24px;
            padding: 28px 24px 36px;
            background-color: #F5F5F5;
            border-radius: 20px;
            break-inside: avoid;
        }
            .setup__icon-handler {
                width: 100%;
                display: inline-flex;
                vertical-align: top;
                align-items: flex-start;
                justify-content: flex-start;
                background-color: transparent;
                border: none;
                padding: 0;
                cursor: default;
            }
                .setup__icon {
                    vertical-align: top;
                }

            .setup__sub-heading {
                margin-top: 24px;
                margin-bottom: 0;
                font-family: var(--font-heading);
                font-weight: 500;
                font-size: 36px;
                line-height: 41px;
                color: #1FBBC7;
            }
                .setup__handler {
                    display: block;
                    width: fit-content;
                    border: none;
                    padding: 0;
                    background-color: transparent;
                    font-family: inherit;
                    font-weight: inherit;
                    font-size: inherit;
                    line-height: inherit;
                    color: inherit;
                    text-align: left;
                    text-decoration: 2px underline transparent;
                    text-underline-offset: 3px;
                    cursor: pointer;
                    transition: text-decoration-color var(--transition-hover);
                }

                .setup__handler:hover {
                    color: inherit;
                    text-decoration-color: currentColor;
                }

            .setup__dropdown {
                margin-top: 16px;
            }
                .setup__list {
                    padding-bottom: 12px;
                }
                    .setup__link {
                        display: block;
                        width: fit-content;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        border: none;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        color: #585858;
                        text-decoration: 1.5px underline transparent;
                        text-underline-offset: 2px;
                        transition: text-decoration-color var(--transition-hover);
                    }

                    .setup__link:hover {
                        color: #585858;
                        text-decoration-color: currentColor;
                    }



@media (768px <= width < 1200px) {

    .setup {

    }

    .equipment-and-materials + .setup {
        margin-top: -20px;
    }
        .setup__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            font-size: 28px;
            line-height: 36px;
        }

        .setup__body {
            columns: 2;
            gap: 18px;
        }
            .setup__item {
                margin-bottom: 18px;
                padding: 4px 18px 28px;
                /*background-color: #F5F5F5;*/
                border-radius: 15px;
                /*break-inside: avoid;*/
            }
                .setup__icon-handler {

                }
                    .setup__icon {
                        transform: scale(75%);
                        transform-origin: left center;
                    }

                .setup__sub-heading {
                    margin-top: 4px;
                    font-size: 26px;
                    line-height: 30px;
                }
                    .setup__handler {
                        /*border: none;*/
                        /*padding: 0;*/
                        /*background-color: transparent;*/
                        /*font-family: var(--font-heading);*/
                        /*font-weight: 500;*/

                        /*color: #1FBBC7;*/
                        /*text-align: left;*/
                        /*cursor: text;*/
                    }

                .setup__dropdown {
                    margin-top: 18px;
                }
                    .setup__list {
                        margin-top: 6px;
                        padding-bottom: 6px;
                    }
                        .setup__link {
                            /*display: block;*/
                            /*width: fit-content;*/
                            padding-top: 6px;
                            padding-bottom: 6px;
                            /*border: none;*/
                            /*font-weight: 500;*/
                            font-size: 17px;
                            line-height: 22px;
                            /*color: #585858;*/
                            /*text-decoration: 1.5px underline transparent;*/
                            /*text-underline-offset: 2px;*/
                        }

                        .setup__link:hover {
                            /*color: #585858;*/
                            /*text-decoration-color: currentColor;*/
                        }
}



@media (width < 768px) {

    .setup {

    }
        .setup__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            font-size: 24px;
            line-height: 29px;
        }

        .setup__body {
            columns: unset;
            /*margin-top: ;*/
        }
            .setup__item {
                /*margin-bottom: 24px;*/
                padding: 0;
                /*background-color: #F5F5F5;*/
                border-radius: 16px;
                /*break-inside: avoid;*/
            }

            .setup__item:last-child {
                margin-bottom: 0;
            }
                .setup__icon-handler {
                    padding: 14px 16px 0;
                    cursor: pointer;
                }
                    .setup__icon {
                        vertical-align: top;
                        transform: scale(75%);
                        transform-origin: left center;
                    }

                .setup__sub-heading {
                    margin-top: 0;
                    /*margin-bottom: 0;*/
                    /*font-family: var(--font-heading);*/
                    /*font-weight: 500;*/
                    font-size: 24px;
                    line-height: 28px;
                    /*color: #1FBBC7;*/
                }
                    .setup__handler {
                        position: relative;
                        /*border: none;*/
                        width: 100%;
                        padding: 14px 54px 24px 16px;
                        /*background-color: transparent;*/
                        /*font-family: inherit;*/
                        /*font-weight: inherit;*/
                        font-size: inherit;
                        line-height: inherit;
                        /*color: inherit;*/
                        /*text-align: left;*/
                        cursor: pointer;
                    }
                        .setup__item:has(.setup__dropdown) .setup__handler::after {
                            content: "";
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            display: block;
                            width: 16px;
                            height: 16px;
                            margin-top: -8px;
                            background-color: #1FBBC7;
                            border-radius: 50%;
                        }

                        .setup__item--expanded:has(.setup__dropdown) .setup__handler::after {
                            border-radius: 0;
                            background-color: transparent;
                            background-image: url("../vectors/handler-close.svg");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                        }

                .setup__dropdown {
                    margin-top: -7px;
                    padding: 0 16px 32px;
                    display: none;
                }

                .setup__item--expanded .setup__dropdown {
                    display: block;
                    animation: var(--slide-bottom);
                }
                    .setup__list {
                        /*margin-top: 8px;*/
                    }
                        .setup__link {
                            /*display: block;*/
                            /*width: fit-content;*/
                            /*padding-top: 8px;*/
                            /*padding-bottom: 8px;*/
                            /*border: none;*/
                            /*font-weight: 500;*/
                            font-size: 16px;
                            line-height: 19px;
                            /*color: #585858;*/
                            /*text-decoration: 1.5px underline transparent;*/
                            /*text-underline-offset: 2px;*/
                        }

                        .setup__link:hover {
                            /*color: #585858;*/
                            /*text-decoration-color: currentColor;*/
                        }
}


