.swiper--css-default-skin {

}

@media (width < 740px) {

    .swiper--css-default-skin {
        overflow: visible; /* чтобы визуально карусель выглядела получше (а обрежется на ровне .content из legacy */
    }
        .swiper--css-default-skin .swiper-wrapper {
            display: grid;
            grid-auto-flow: column;
        }
            .swiper--css-default-skin .swiper-slide {
                height: 100%;
            }

        .swiper--css-default-skin .swiper-controls {
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .swiper--css-default-skin .swiper-pagination {
                position: static;
                width: auto;
                display: flex;
                gap: 3px;
                font-family: var(--font-heading);
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                color: #0096AA;
            }
                .swiper--css-default-skin .swiper-pagination-current {

                }

                .swiper--css-default-skin .swiper-pagination-total {
                    color: #B3E0E6;
                }

            .swiper--css-default-skin .swiper-button-prev,
            .swiper--css-default-skin .swiper-button-next {
                position: static;
                margin: 0;
                width: 40px;
                height: 60px;
            }

            .swiper--css-default-skin .swiper-button-prev {

            }

            .swiper--css-default-skin .swiper-button-next {

            }


            .swiper--css-default-skin .swiper-button-next.swiper-button-disabled,
            .swiper--css-default-skin .swiper-button-prev.swiper-button-disabled {
                opacity: 70%;
            }


                .swiper--css-default-skin .swiper-button-prev::after,
                .swiper--css-default-skin .swiper-button-next::after {
                    width: 100%;
                    height: 100%;
                    text-indent: 200%;
                    white-space: nowrap;
                    overflow: hidden;
                    background-size: 30px 30px;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .swiper--css-default-skin .swiper-button-prev::after {
                    background-image: url("../vectors/swiper-default-skin-prev.svg");
                }

                .swiper--css-default-skin .swiper-button-next::after {
                    background-image: url("../vectors/swiper-default-skin-next.svg");
                }
}



.swiper--css-doctors {

}
    /* На десктопах слайдера нет -- там обычная сетка */
    @media (740px <= width) {

        .swiper--css-doctors .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
            gap: 60px 24px;
        }

        .swiper--css-doctors .swiper-controls {
            display: none !important; /* !important`ом перебиваем флекс */
        }
    }




/* Скин для галлереи */

.swiper--css-skin-gallery {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
    .swiper--css-skin-gallery .swiper-wrapper {
        display: grid;
        grid-auto-flow: column;
    }
        .swiper--css-skin-gallery .swiper-slide {
            height: 100%;
        }

        .swiper--css-skin-gallery .swiper-pagination {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 12px;
            display: flex;
            justify-content: center;
            gap: 2px;
            width: auto;
            font-family: var(--font-heading);
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: #EEEEEE;
        }
            .swiper--css-skin-gallery .swiper-pagination-current {

            }

            .swiper--css-skin-gallery .swiper-pagination-total {
                color: inherit;
            }

    .swiper--css-skin-gallery .swiper-controls {
        position: absolute;
        right: 28px;
        bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }



        .swiper--css-skin-gallery .swiper-button-prev,
        .swiper--css-skin-gallery .swiper-button-next {
            position: static;
            margin: 0;
            width: 50px;
            height: 50px;
            background-color: rgb(0 150 170 / 50%);
            border-radius: 50%;
            pointer-events: auto;
        }

        .swiper--css-skin-gallery .swiper-button-prev:active,
        .swiper--css-skin-gallery .swiper-button-next:active {
            transform: translateY(1px);
        }

        .swiper--css-skin-gallery .swiper-button-prev {

        }

        .swiper--css-skin-gallery .swiper-button-next {

        }


        .swiper--css-skin-gallery .swiper-button-next.swiper-button-disabled,
        .swiper--css-skin-gallery .swiper-button-prev.swiper-button-disabled {
            opacity: 70%;
        }


            .swiper--css-skin-gallery .swiper-button-prev::after,
            .swiper--css-skin-gallery .swiper-button-next::after {
                width: 100%;
                height: 100%;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
                background-size: 50px 50px;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .swiper--css-skin-gallery .swiper-button-prev::after {
                background-image: url("../vectors/swiper-skin-gallery-prev.svg");
            }

            .swiper--css-skin-gallery .swiper-button-next::after {
                background-image: url("../vectors/swiper-skin-gallery-next.svg");
            }



@media (width < 740px) {

    .swiper--css-skin-gallery {
        overflow: visible; /* чтобы визуально карусель выглядела получше (а обрежется на ровне .content из legacy */
    }
        .swiper--css-skin-gallery .swiper-wrapper {
            /*display: grid;*/
            /*grid-auto-flow: column;*/
        }
            .swiper--css-skin-gallery .swiper-slide {
                /*height: 100%;*/
            }

        .swiper--css-skin-gallery .swiper-controls {
            margin-top: 16px;
            position: static;
            /*right: 28px;*/
            /*bottom: 16px;*/
            /*display: flex;*/
            /*align-items: center;*/
            /*justify-content: center;*/
        }
            .swiper--css-skin-gallery .swiper-pagination {
                bottom: 80px;
                /*width: auto;*/
                /*display: flex;*/
                /*justify-content: center;*/
                /*gap: 3px;*/
                /*min-width: 60px;*/
                /*font-family: var(--font-heading);*/
                /*font-weight: bold;*/
                /*font-size: 24px;*/
                /*line-height: 28px;*/
            }
                .swiper--css-skin-gallery .swiper-pagination-current {

                }

                .swiper--css-skin-gallery .swiper-pagination-total {
                    /*color: #D9D9D9;*/
                }


            .swiper--css-skin-gallery .swiper-button-prev,
            .swiper--css-skin-gallery .swiper-button-next {
                /*position: static;*/
                /*margin: 0;*/
                /*width: 50px;*/
                /*height: 50px;*/
                background-color: rgb(0 150 170 / 70%);
                /*border-radius: 50%;*/
                /*pointer-events: auto;*/
            }

            .swiper--css-skin-gallery .swiper-button-prev:active,
            .swiper--css-skin-gallery .swiper-button-next:active {
                /*transform: translateY(1px);*/
            }

            .swiper--css-skin-gallery .swiper-button-prev {

            }

            .swiper--css-skin-gallery .swiper-button-next {

            }


            .swiper--css-skin-gallery .swiper-button-next.swiper-button-disabled,
            .swiper--css-skin-gallery .swiper-button-prev.swiper-button-disabled {
                /*opacity: 70%;*/
            }


                .swiper--css-skin-gallery .swiper-button-prev::after,
                .swiper--css-skin-gallery .swiper-button-next::after {
                    /*width: 100%;*/
                    /*height: 100%;*/
                    /*text-indent: 200%;*/
                    /*white-space: nowrap;*/
                    /*overflow: hidden;*/
                    /*background-size: 50px 50px;*/
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                }

                .swiper--css-skin-gallery .swiper-button-prev::after {
                    /*background-image: url("../vectors/swiper-skin-gallery-prev.svg");*/
                }

                .swiper--css-skin-gallery .swiper-button-next::after {
                    /*background-image: url("../vectors/swiper-skin-gallery-next.svg");*/
                }
}





/* Скин для образования */

.swiper--css-skin-education {
    position: relative;
    overflow: visible;
}
    .swiper--css-skin-education .swiper-wrapper {
        /*display: grid;*/
        /*grid-auto-flow: column;*/
    }
        .swiper--css-skin-education .swiper-slide {
            width: auto;
            /*height: 100%;*/
        }

    .swiper--css-skin-education .swiper-navigation {
        position: absolute;
        right: 0;
        bottom: 100%;
        margin-bottom: var(--heading-spacing);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

        .swiper--css-skin-education .swiper-scrollbar {
            position: static;
            margin-top: 24px;
            height: 6px;
            width: auto;
            background-color: #E6F5F7;
        }
            .swiper-scrollbar-drag {
                height: 6px;
                background-color: #0096AA;
            }

        .swiper--css-skin-education .swiper-button-prev,
        .swiper--css-skin-education .swiper-button-next {
            position: static;
            margin: 0;
            width: 50px;
            height: 50px;
            background-color: rgb(0 150 170 / 50%);
            border-radius: 50%;
            pointer-events: auto;
        }

        .swiper--css-skin-education .swiper-button-prev:active,
        .swiper--css-skin-education .swiper-button-next:active {
            transform: translateY(1px);
        }

        .swiper--css-skin-education .swiper-button-prev {

        }

        .swiper--css-skin-education .swiper-button-next {

        }


        .swiper--css-skin-education .swiper-button-next.swiper-button-disabled,
        .swiper--css-skin-education .swiper-button-prev.swiper-button-disabled {
            opacity: 70%;
        }


            .swiper--css-skin-education .swiper-button-prev::after,
            .swiper--css-skin-education .swiper-button-next::after {
                width: 100%;
                height: 100%;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
                background-size: 50px 50px;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .swiper--css-skin-education .swiper-button-prev::after {
                background-image: url("../vectors/swiper-skin-gallery-prev.svg");
            }

            .swiper--css-skin-education .swiper-button-next::after {
                background-image: url("../vectors/swiper-skin-gallery-next.svg");
            }


@media (width < 740px) {
    .swiper--css-skin-education .swiper-navigation {
        display: none;
    }
}
