.team-preview {

}
    .team-preview__head {

    }
        .team-preview__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .team-preview__description {
            margin-top: 24px;
            font-size: 22px;
            line-height: 26px;
            max-width: 563px;
        }

        .team-preview__navigation {
            margin-top: 40px;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 24px;
        }
            .team-preview__handler {
                border: 1px solid #0096AA;
                padding: 15px 40px;
                background-color: transparent;
                border-radius: 28px;
                font-family: inherit;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #0096AA;
                cursor: pointer;
            }

            .team-preview__handler--current {
                background-color: #0096AA;
                color: #FFFFFF;
                cursor: default;
            }

    .team-preview__body {
        margin-top: 26px;
        background-image: linear-gradient(#31ABBB, #B3E0E6);
    }
        .team-preview__item {
            display: none;
        }

        .team-preview__item--current {
            display: block;
        }
            .team-preview__desktop-slide {

            }

            .team-preview__mobile-slide {
                display: none;
            }



@media (width < 740px) {

    .team-preview {

    }
        .team-preview__head {

        }
            .team-preview__heading {

            }

            .team-preview__description {
                font-size: 16px;
                line-height: 19px;
            }

            .team-preview__navigation {
                gap: 16px;
            }
                .team-preview__handler {
                    padding: 11px 23px;
                    border-radius: 22px;
                    font-size: 16px;
                    line-height: 20px;
                }

                .team-preview__handler--current {

                }

        .team-preview__body {
            margin-top: 24px;
        }
            .team-preview__item {
                /*display: none;*/
            }

            .team-preview__item--current {
                /*display: block;*/
            }
                .team-preview__desktop-slide {
                    display: none;
                }

                .team-preview__mobile-slide {
                    display: block;
                }
}
