.title {
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 52px;
    line-height: 60px;
}

@media (740px <= width < 1200px) {

    .title {
        font-size: 42px;
        line-height: 47px;
    }
}


@media (width < 740px) {

    .title {
        font-size: 32px;
        line-height: 37px;
    }
}
