.total-price {
    padding-top: 10px;
    font-family: var(--font-heading);
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #1FBBC7;
    text-align: center;
}

@media (width < 1000px) {
    .total-price {
        padding-top: 0;
        font-size: 20px;
        line-height: 23px;
    }
}
