.trust {

}
    .trust__heading {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 818px;
        font-weight: bold;
    }

    .trust__body {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 668px 1fr;
        gap: 40px;
    }
        .trust__content {

        }
            .trust__text {

            }

            .trust__comfort {
                margin-top: 16px;
                font-style: italic;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                color: #0096AA;
            }

            .trust__smile {
                margin-top: 16px;
            }

        .trust__photo {

        }
            .trust__image {
                vertical-align: top;
                background-color: var(--image-fallback);
                border-radius: 16px;
                width: 100%;
                height: auto;
            }

    .trust__list {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;
    }
        .trust__item {
            padding: 40px 24px;
            background-color: #F5F5F5;
            border-radius: 16px;
        }
            .trust__sub-heading {
                margin-top: 0;
                margin-bottom: 0;
                display: block;
                font-family: var(--font-heading);
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #1FBBC7;
            }

            .trust__feature-description {
                margin-top: 24px;
                font-size: 18px;
                line-height: 22px;
            }




@media (width < 1200px) {

    .trust {

    }
        .trust__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*max-width: 818px;*/
            /*font-weight: bold;*/
        }

        .trust__body {
            /*margin-top: 40px;*/
            /*display: grid;*/
            grid-template-columns: 500px 1fr;
            /*gap: 40px;*/
        }
            .trust__content {

            }
                .trust__text {

                }

                .trust__comfort {
                    /*margin-top: 16px;*/
                    /*font-style: italic;*/
                    /*font-weight: bold;*/
                    /*color: #0096AA;*/
                }

                .trust__smile {
                    /*margin-top: 16px;*/
                }

            .trust__photo {

            }
                .trust__image {
                    /*vertical-align: top;*/
                    /*background-color: var(--image-fallback);*/
                    /*border-radius: 16px;*/
                }

        .trust__list {
            /*margin-top: 40px;*/
            /*display: grid;*/
            /*grid-template-columns: repeat(3, minmax(0, 1fr));*/
            /*gap: 24px;*/
        }
            .trust__item {
                padding: 24px 16px;
                border-radius: 10px;
            }
                .trust__sub-heading {
                    font-size: 22px;
                    line-height: 26px;
                }

                .trust__feature-description {
                    margin-top: 16px;
                    font-size: 16px;
                    line-height: 19px;
                }
}


@media (width < 992px) {

    .trust__body {
        display: block;
    }
        .trust__photo {
            margin-top: 24px;
        }
            .trust__image {
                max-width: 400px;
            }
}



@media (width < 740px) {

    .trust {
        padding-bottom: 20px;
    }
        .trust__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*max-width: 818px;*/
            /*font-weight: bold;*/
        }

        .trust__body {
            margin-top: 24px;
            /*display: grid;*/
            /*grid-template-columns: 668px 1fr;*/
            /*gap: 40px;*/
        }
            .trust__content {

            }
                .trust__text {

                }

                .trust__comfort {
                    /*margin-top: 16px;*/
                    /*font-style: italic;*/
                    /*font-weight: bold;*/
                    /*font-size: 20px;*/
                    /*line-height: 24px;*/
                    /*color: #0096AA;*/
                }

                .trust__smile {
                    /*margin-top: 16px;*/
                }

            .trust__photo {

            }
                .trust__image {
                    /*vertical-align: top;*/
                    /*background-color: var(--image-fallback);*/
                    /*border-radius: 16px;*/
                }

        .trust__list {
            margin-top: 80px;
            display: block;
            /*grid-template-columns: repeat(3, minmax(0, 1fr));*/
            /*gap: 24px;*/

        }
            .trust__item {
                margin-top: 24px;
                /*padding: 40px 24px;*/
                /*background-color: #F5F5F5;*/
                /*border-radius: 16px;*/
            }

            .trust__item:first-child {
                margin-top: 0;
            }
                .trust__sub-heading {
                    /*margin-top: 0;*/
                    /*margin-bottom: 0;*/
                    /*display: block;*/
                    /*font-family: var(--font-heading);*/
                    /*font-weight: 500;*/
                    /*font-size: 24px;*/
                    /*line-height: 29px;*/
                    /*color: #1FBBC7;*/
                }

                .trust__feature-description {
                    /*margin-top: 24px;*/
                    /*font-size: 18px;*/
                    /*line-height: 22px;*/
                    max-width: 400px;
                }
}


