.pins {

}
    .pins__navigation {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px 24px;
    }
        .pins__tab {
            border: 1px solid #0096AA;
            padding: 16px 28px;
            background-color: transparent;
            border-radius: 28px;
            font-family: inherit;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #0096AA;
            cursor: pointer;
            transition: background-color var(--transition-hover);
        }

        .pins__tab:hover {
            background-color: #E6F5F7;
        }

        .pins__tab--current,
        .pins__tab--current:hover {
            background-color: #0096AA;
            color: #FFFFFF;
            cursor: default;
        }


    .pins__bodies {
        margin-top: 24px;
    }
        .pins__item {
            display: none;
        }

        .pins__item--current {
            display: block;
            animation: var(--slide-bottom);
        }




@media (width < 1200px) {

    .pins {

    }
        .pins__navigation {
            gap: 14px 16px;
        }
            .pins__tab {
                padding: 12px 16px;
                border-radius: 23px;
                font-size: 16px;
                line-height: 20px;
            }

        .pins__bodies {
            margin-top: 18px;
        }
            .pins__item {

            }

            .pins__item--current {

            }
}
